# 1. Data Cleaning & Exploratory Data Analysis

## Import Modules, Load Data & Data Review

In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt
import datetime as dt
%matplotlib inline

In [2]:
df = pd.read_excel("Online Retail.xlsx")

In [3]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [5]:
df.shape

(541909, 8)

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Quantity,541909.0,9.552250,218.081158,-80995.00,1.00,3.00,10.00,80995.0
UnitPrice,541909.0,4.611114,96.759853,-11062.06,1.25,2.08,4.13,38970.0
CustomerID,406829.0,15287.690570,1713.600303,12346.00,13953.00,15152.00,16791.00,18287.0

In [13]:
df['Quantity'].idxmin()

540422

In [14]:
df.iloc[540400:540430]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
540400,581481,22059,CERAMIC STRAWBERRY DESIGN MUG,24,2011-12-09 09:07:00,0.39,17490.0,United Kingdom
540401,581481,22072,RED RETROSPOT TEA CUP AND SAUCER,24,2011-12-09 09:07:00,1.25,17490.0,United Kingdom
540402,581481,22123,PING MICROWAVE APRON,24,2011-12-09 09:07:00,0.79,17490.0,United Kingdom
540403,581481,22476,EMPIRE UNION JACK TV DINNER TRAY,8,2011-12-09 09:07:00,1.95,17490.0,United Kingdom
540404,581481,22495,SET OF 2 ROUND TINS CAMEMBERT,12,2011-12-09 09:07:00,0.79,17490.0,United Kingdom
540405,581481,22496,SET OF 2 ROUND TINS DUTCH CHEESE,12,2011-12-09 09:07:00,0.79,17490.0,United Kingdom
540406,581481,22513,DOORSTOP FOOTBALL DESIGN,8,2011-12-09 09:07:00,0.79,17490.0,United Kingdom
540407,581481,22500,SET OF 2 TINS JARDIN DE PROVENCE,12,2011-12-09 09:07:00,1.25,17490.0,United Kingdom
540408,581481,22664,TOY TIDY DOLLY GIRL DESIGN,20,2011-12-09 09:07:00,0.79,17490.0,United Kingdom
540409,581481,22721,SET OF 3 CAKE TINS SKETCHBOOK,12,2011-12-09 09:07:00,1.95,17490.0,United Kingdom
540410,581481,22785,SQUARECUSHION COVER PINK UNION JACK,12,2011-12-09 09:07:00,1.25,17490.0,United Kingdom
540411,581481,23178,JAM CLOCK MAGNET,12,2011-12-09 09:07:00,1.25,17490.0,United Kingdom
540412,581481,23302,KNEELING MAT HOUSEWORK DESIGN,24,2011-12-09 09:07:00,0.79,17490.0,United Kingdom
540413,581481,23533,WALL ART GARDEN HAVEN,6,2011-12-09 09:07:00,1.95,17490.0,United Kingdom
540414,581481,84819,DANISH ROSE ROUND SEWING BOX,16,2011-12-09 09:07:00,0.79,17490.0,United Kingdom
540415,581482,22485,SET OF 2 WOODEN MARKET CRATES,12,2011-12-09 09:08:00,10.95,17490.0,United Kingdom
540416,581482,22371,AIRLINE BAG VINTAGE TOKYO 78,12,2011-12-09 09:08:00,3.95,17490.0,United Kingdom
540417,581482,21875,KINGS CHOICE MUG,36,2011-12-09 09:08:00,1.06,17490.0,United Kingdom
540418,581482,23251,VINTAGE RED ENAMEL TRIM MUG,96,2011-12-09 09:08:00,1.04,17490.0,United Kingdom
540419,581482,23300,GARDENERS KNEELING PAD CUP OF TEA,48,2011-12-09 09:08:00,1.45,17490.0,United Kingdom
540420,581482,22138,BAKING SET 9 PIECE RETROSPOT,24,2011-12-09 09:08:00,4.25,17490.0,United Kingdom
540421,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446.0,United Kingdom
540422,C581484,23843,"PAPER CRAFT , LITTLE BIRDIE",-80995,2011-12-09 09:27:00,2.08,16446.0,United Kingdom
540423,581485,22617,BAKING SET SPACEBOY DESIGN,18,2011-12-09 09:38:00,4.95,17389.0,United Kingdom
540424,581485,22768,FAMILY PHOTO FRAME CORNICE,12,2011-12-09 09:38:00,9.95,17389.0,United Kingdom
540425,581485,20749,ASSORTED COLOUR MINI CASES,84,2011-12-09 09:38:00,6.35,17389.0,United Kingdom
540426,581486,22910,PAPER CHAIN KIT VINTAGE CHRISTMAS,12,2011-12-09 09:38:00,2.95,17001.0,United Kingdom
540427,581486,22086,PAPER CHAIN KIT 50'S CHRISTMAS,12,2011-12-09 09:38:00,2.95,17001.0,United Kingdom
540428,581486,23344,JUMBO BAG 50'S CHRISTMAS,20,2011-12-09 09:38:00,2.08,17001.0,United Kingdom
540429,581486,23351,ROLL WRAP 50'S CHRISTMAS,12,2011-12-09 09:38:00,1.25,17001.0,United Kingdom

In [16]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [17]:
df.corr()

            Quantity  UnitPrice  CustomerID
Quantity    1.000000  -0.001235    -0.00360
UnitPrice  -0.001235   1.000000    -0.00456
CustomerID -0.003600  -0.004560     1.00000

In [19]:
df[df['Quantity'] < 0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,2010-12-01 09:41:00,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,2010-12-01 09:49:00,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,2010-12-01 10:24:00,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom
...,...,...,...,...,...,...,...,...
540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,2011-12-09 09:57:00,0.83,14397.0,United Kingdom
541541,C581499,M,Manual,-1,2011-12-09 10:28:00,224.69,15498.0,United Kingdom
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,2011-12-09 11:57:00,10.95,15311.0,United Kingdom
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,2011-12-09 11:58:00,1.25,17315.0,United Kingdom
541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,2011-12-09 11:58:00,1.25,17315.0,United Kingdom

In [22]:
df[df['Quantity'] < 0].shape

(10624, 8)

In [21]:
df[df['Quantity'] > 0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [20]:
df[df['CustomerID'] == 17315]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
34510,C539402,21845,DAIRY MAID STRIPE MUG,-14,2010-12-17 12:19:00,2.95,17315.0,United Kingdom
34511,C539402,22488,NATURAL SLATE RECTANGLE CHALKBOARD,-1,2010-12-17 12:19:00,1.65,17315.0,United Kingdom
34512,C539402,21527,RED RETROSPOT TRADITIONAL TEAPOT,-1,2010-12-17 12:19:00,6.95,17315.0,United Kingdom
34524,539404,21528,DAIRY MAID TRADITIONAL TEAPOT,1,2010-12-17 12:24:00,6.95,17315.0,United Kingdom
34525,539404,22720,SET OF 3 CAKE TINS PANTRY DESIGN,1,2010-12-17 12:24:00,4.95,17315.0,United Kingdom
...,...,...,...,...,...,...,...,...
537797,581345,22151,PLACE SETTING WHITE HEART,24,2011-12-08 12:15:00,0.42,17315.0,United Kingdom
537798,581345,22698,PINK REGENCY TEACUP AND SAUCER,9,2011-12-08 12:15:00,2.95,17315.0,United Kingdom
537799,581345,22699,ROSES REGENCY TEACUP AND SAUCER,10,2011-12-08 12:15:00,2.95,17315.0,United Kingdom
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,2011-12-09 11:58:00,1.25,17315.0,United Kingdom
541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,2011-12-09 11:58:00,1.25,17315.0,United Kingdom

In [24]:
df['InvoiceNo'].dtype

dtype('O')

In [25]:
cancel = df[df['InvoiceNo'].astype(str).str.contains('C')]

In [26]:
cancel.shape

(9288, 8)

In [27]:
df = df.dropna(subset=['CustomerID'])

In [28]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [31]:
df.shape

(406829, 8)

In [32]:
df.duplicated().sum()

5225

In [33]:
df = df.drop_duplicates()

In [34]:
df.shape

(401604, 8)

In [35]:
df[df['Quantity'] < 0].shape

(8872, 8)

In [36]:
df[df['UnitPrice'] < 0].shape

(0, 8)